@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');


.header {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    font-weight: 900;
    text-align: center;
    padding: .25em 0;
    position: sticky;
    top: 0;
    z-index: 3;
}

article {
    min-height: 15em;
    height: 30vh;
    position: relative;
}

.city-name {
    display: none;
    background-color: rgba(0, 0, 0, .6);
    font-family: 'Permanent Marker', cursive;
    font-size: 4em;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 2;
}

.city-photo {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.city-name > a {
    text-decoration: none;
    color: white;
}

article:hover > .city-name{
    display: flex;
}